#lastMessage {
  color: white;
}
.typing::after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 1em;
  background: white;
}

.typing.blink::after {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
