.type-it-gpt.cursor::after {
  background: var(--type-it-gpt-cursor-background, rgb(255, 255, 255));
  content: "";
  display: inline-block;
  width: var(--type-it-gpt-cursor-width, 0.75rem);
  height: calc(var(--type-it-gpt-font-size) * 0.95);
  position: absolute;
  animation: type-it-gpt-blink var(--type-it-gpt-blink-interval, 1000ms) step-end infinite;
}

:root{
  --type-it-gpt-cursor-background: #fff;
  --type-it-gpt-cursor-width: 0.75rem;
  --type-it-gpt-blink-interval: 1000ms;
  --type-it-gpt-font-size: 1rem;
}

@keyframes type-it-gpt-blink {
  50% {
    opacity: 0;
  }
}
